/*--------------------------------------------------- Header-------------------------------------------- */
header {
    background-color: #001233;
    padding: 0.8%;
}

.logo-header img {
    width: 80%;
    max-width: 100%;
}

.logo-header {
    margin-right: 0%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-link {
    color: white;
    font-family: "Noto Serif", serif;
}

.navbar-nav .nav-link:hover {
    color: gray;
    text-decoration: underline;
}

.imagem-carrinho img {
    width: 3em;
}

.btn-custom-background {
    background-color: #0E8204 !important;
}

.input-group {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.input-group .form-control:focus {
    z-index: 3;
}

.input-group .input-group-text {
    background-color: white;
    border-left: 0;
}

.input-group .form-control {
    border-right: 0;
}

.input-group .input-group-text img {
    width: 75%;
    height: auto;
}

.bnt-login {
    height: 50%;
    padding: 5px 25px !important;
    background-color: #4CAF50 !important;
    margin-top: 3%;
    color: white !important;
    box-shadow: none !important;
    font-size: 14px;
    line-height: 1 !important;
    align-items: center;
    font-family: "Noto Serif", serif;
}

.bnt-login img {
    width: 40%;
}

/* Layout para telas menores da header */
@media (max-width: 768px) {
    .header-container {
        align-items: center;
    }

    .navbar-toggler img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-toggler{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .bnt-menu img {
        width: 30px;
    }

    .logo-header img {
        width: 120px;
        margin-top: 5%;
    }

    .search-bar {
        width: 100%;
        margin-top: 20px;
        /* Margem superior para separar a pesquisa dos itens acima */
    }

    .bnt-login {
        width: 38%;
        margin-top: 0%;
        /* Ajustar largura do botão de login */
    }
    .carrinho-login{
        margin-bottom: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/*----------------------------------------------------- Main ----------------------------------------------------------------*/
main {
    background-color: black;
}

.container-banner {
    padding: 3%;
}

.titulos-main {
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
}

.card {
    background-color: #060606 !important;
    color: white;
    padding: 1%;
    width: 19%;
    text-align: center;
    justify-content: space-between;
    border-width: 1px !important;
    border-color: #4F4F4F !important;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    padding: 2%;
    gap: 15px;
}

.card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.card-infos {
    margin-top: 8%;
}

.card-title,
.card span {
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
}

.card-title {
    font-size: 1em;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card a {
    background-color: #0E8204 !important;
    color: white;
    border: none;
    padding: 2%;
    width: 100%;
    margin-top: 5%;
    font-family: "Noto Serif", serif;
    font-weight: 500;
    font-size: 1.1em;
}

.card a>img {
    width: 10%;
    margin-right: 3%;
}

.preco-produto {
    font-size: 1.7em;
    margin-top: 2%;
    color: #0E8204;
    font-weight: 700;
    display: inline;
}

.button-preco:hover {
    z-index: 1;
    transform: scale(1.1);
    position: relative;
    transition: transform 0.3s ease;
}

.card span {
    display: inline;
    font-size: 0.7em;
}

/* Empresas de jogos */
.empresas-jogos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empresas-jogos div {
    margin-bottom: 20px;
}

.empresas-jogos p {
    margin: 3% 0;
}

.empresas-jogos button {
    width: 220px;
    height: 80px;
    margin: 10px 10px 30px 10px;
    background-size: cover;
    background-position: center;
    border: #4F4F4F 2px solid;
    border-radius: 5%;
    position: relative;
    transition: transform 0.3s ease;
}

.empresas-jogos button:hover {
    z-index: 1;
    transform: scale(1.1);
}

#sony {
    background-image: url("/empresas/sony.jpeg");
}

#microsoft {
    background-image: url("/empresas/microsoft.jpg");
}

#tencent {
    background-image: url("/empresas/tencent.jpg");
}

#nintendo {
    background-image: url("/empresas/nintendo.jpeg");
}

#activision {
    background-image: url("/empresas/activision.jpg");
}

@media (max-width: 768px) {
    .container-banner img{
        width: 130%;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        gap: 15px;
        width: 100%;
    }
    .empresas-jogos button{
        width: 300%;
    }

}

/* ------------------------------------------------------------- Footer---------------------------------------------------------- */
.container-infos {
    padding: 3%;
    color: white;
}

.container-infos h4 {
    font-size: 1.3em;
    margin-bottom: 4%;
}

.container-infos a,
.container-infos p {
    color: rgb(223, 223, 223);
    font-size: 1em;
    text-decoration: none;
    line-height: 0.3em;
    margin-left: 2%;
    font-family: "Merriweather", serif;
}

.container-infos a:hover {
    color: #b50000;
}

#facebook {
    width: 15%;
}

#instagram {
    width: 22%;
}

#redes-sociais {
    margin-bottom: 0;
}

.container-footer-empresa {
    background-color: #001233;
    padding: 4%;
    color: white;
}

.container-empresa img {
    width: 30%;
    margin-bottom: 2%;
    margin-left: 2.5%;
}

#direitos {
    margin-top: 3%;
}

.container-footer-infos {
    background-color: #000B1F;
    padding-left: 3%;
    color: white;
}

.container-infos-1,
.container-infos-2,
.container-infos-3,
.container-infos-4 {
    justify-content: center;
    align-items: center;
    gap: 2%;
}

/* Media Queries para Responsividade */

/* Para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    .card {
        width: 45%;
        /* Ajusta o tamanho do card para telas médias */
    }

    .container-banner {
        padding: 5%;
    }
}

/* Para dispositivos com largura máxima de 576px */
@media (max-width: 576px) {
    main {
        padding: 5% 5%;
        /* Reduz o padding em telas menores */
    }

    .card {
        width: 100%;
        /* Ajusta o tamanho do card para telas pequenas */
    }

    .empresas-jogos button {
        width: 100%;
        height: auto;
        margin: 10px 0;
        /* Ajusta o tamanho dos botões para telas pequenas */
    }

    .logo-header img {
        width: 60%;
        /* Ajusta o tamanho da logo em telas pequenas */
    }

    .imagem-carrinho img {
        width: 2em;
        /* Ajusta o tamanho do ícone de carrinho em telas pequenas */
    }

    .container-banner {
        padding: 5%;
    }

    .titulos-main {
        font-size: 1.2em;
        /* Reduz o tamanho da fonte dos títulos em telas pequenas */
    }

    .bnt-login {
        padding: 10px 20px;
        font-size: 12px;
        /* Ajusta o padding e o tamanho da fonte do botão de login em telas pequenas */
    }
}

/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:wght@100..900&display=swap');

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: bold;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-classic {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}